body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: white;
  margin-bottom: 50vh;
}

a {
  color: inherit;
}

pre,
code {
  font-family: menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: #555;
  background-color: #f0f0f0;
  padding: 0.2em 0.4em;
  border-radius: 2px;
}
blockquote {
  padding: 0.75rem;
  margin: 0 3rem;
  font-style: oblique;
  background: #fafafa;
  border-left: solid 0.25rem #ddd;
  border-right: solid 0.25rem transparent;
}

pre {
  max-width: 100%;
  overflow: auto;
}

body.dark-mode {
  color: #ccc;
  background-color: black;
}

body.dark-mode pre,
body.dark-mode code,
body.dark-mode blockquote {
  color: #aaa;
  background-color: #111;
}
body.dark-mode blockquote {
  border-left: solid 0.25rem #333;
  border-right: solid 0.25rem transparent;
}
