[submodule "readerserver/scraper/headless/scripts/bypass-paywalls-chrome"]
	path = readerserver/scraper/headless/scripts/bypass-paywalls-chrome
	url = https://github.com/iamadamdev/bypass-paywalls-chrome/
