# QotNews settings
# edit this file and save it as settings.py

HOSTNAME = 'news.t0.vc'
MAX_STORY_AGE = 3*24*60*60

SCRAPERS = ['headless', 'outline', 'declutterlite', 'declutter', 'simple']
API_PORT = 33842
SIMPLE_READER_PORT = 33843
HEADLESS_READER_PORT = 33843

# Feed Lengths
# Number of top items from each site to pull
# set to 0 to disable that site
NUM_HACKERNEWS = 15
NUM_LOBSTERS = 10
NUM_REDDIT = 10
NUM_TILDES = 5
NUM_SUBSTACK = 10

SITEMAP = {}
# SITEMAP['nzherald'] = {
#     'url': "https://www.nzherald.co.nz/arcio/news-sitemap/",
#     'count': 20,
#     'patterns': [
#         r'^https:\/\/www\.(nzherald\.co\.nz)\/.*\/([^/]+)\/?$',
#     ],
#     'excludes': [
#         'driven.co.nz',
#         'oneroof.co.nz',
#         'nzherald.co.nz/sponsored-stories',
#         'nzherald.co.nz/entertainment/',
#         'nzherald.co.nz/lifestyle/',
#         'nzherald.co.nz/travel/',
#         'nzherald.co.nz/sport/',
#         'nzherald.co.nz/promotions/',
#         'nzherald.co.nzhttp',
#         'herald-afternoon-quiz',
#         'herald-morning-quiz'
#     ],
# }

SUBSTACK = {}
# SUBSTACK['webworm'] = { 'url': "https://www.webworm.co", 'count': 10},
# SUBSTACK['the bulletin'] = { 'url': "https://thespinoff.substack.com", 'count': 10},

CATEGORY = {}
# CATEGORY['radionz'] = {
#     'url': "https://www.rnz.co.nz/news/",
#     'count': 20,
#     'patterns': [
#         r'https:\/\/www\.(rnz\.co\.nz)\/news\/[^\/]+\/(\d+)\/[^\/]+\/?'
#     ],
#     'excludes': [
#         'rnz.co.nz/news/sport',
#         'rnz.co.nz/weather',
#     ],
# }

# Reddit account info
# leave blank if not using Reddit
REDDIT_CLIENT_ID = ''
REDDIT_CLIENT_SECRET = ''
REDDIT_USER_AGENT = ''

# Minimum points or number of comments before including a thread:
REDDIT_COMMENT_THRESHOLD = 10
REDDIT_SCORE_THRESHOLD = 25

SUBREDDITS = [
    'Economics',
    'AcademicPhilosophy',
    'DepthHub',
    'Foodforthought',
    'HistoryofIdeas',
    'LaymanJournals',
    'PhilosophyofScience',
    'StateOfTheUnion',
    'TheAgora',
    'TrueFilm',
    'TrueReddit',
    'UniversityofReddit',
    'culturalstudies',
    'hardscience',
    'indepthsports',
    'indepthstories',
    'ludology',
    'neurophilosophy',
    'resilientcommunities',
    'worldevents',
    'StallmanWasRight',
    'DarkFuturology',
    'EverythingScience',
]
