.dark {
	color: #ddd;
}

.dark a {
	color: #ddd;
}

.dark .item {
	color: #828282;
}

.dark .item a {
	color: #828282;
}

.dark .item a.link {
	color: #ddd;
}
.dark .item a.link:visited {
	color: #828282;
}

.dark .item .info a.hot {
	color: #cccccc;
}

.dark .story-text a {
	color: #ddd;
}

.dark .story-text a::after {
	border-bottom: 1px solid #aaaaaa;
}

.dark .story-text img {
	filter: brightness(50%);
}

.dark .article .info {
	color: #828282;
}

.dark .article .info a {
	color: #828282;
}

.dark .comments a {
	border-bottom: 1px solid #aaaaaa;
}

.dark .comment.lined {
	border-left: 1px solid #444444;
}
